canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

body {
    height: 100vh;
    width:100%;
    margin:0;
    display: block;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
}

.menu {
    display: grid;
    grid-template-columns: minmax(300px, 800px);
    gap: 10%;
    justify-content: center;
    /* margin-top: 20%; */
    margin-left: 30%;
    margin-right: 30%;
}

.quests {
    /* background-color: rgba(0, 0, 0, 0.314); */
    padding: 5%;
    border-radius: 25px;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level {
    margin-bottom: 20%;
    text-decoration: none;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
}

#quest-status1,
#quest-status2 {
    color: greenyellow;
}

.link {
    text-decoration: none;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    background-color: rgba(0, 0, 0, 0.893);
}

a:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

h1 {
    margin: 20px 0 10px 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

h4 {
    margin: 20px 0 5px 0;
    font-size: 1rem;
    font-weight: 300;
}

h2 {
    color: #FFE81F;
}

input {
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 7px 0;
    border: none;
    background-color: inherit;
}

::placeholder {
    color: #FFE81F;
    opacity: 1;
}

.username-input,
.password-input {
    /* width: 90%; */
    border-bottom: 1px solid #FFE81F;
    margin-bottom: 10%;
}

.submite-input {
    border: 1px solid #FFE81F;
    margin-bottom: 10%;
}

.submit-button {
    text-align: center;
}

.submite-input :active {
    background-color: #FFE81F;
    color: black;
}

i {
    /* width: 10%; */
    color: rgba(0, 0, 0, 0.3);
    padding-right: 7px;
}

.login-form>p {
    /* width: 90%; */
    font-size: 1.1rem;
    text-align: right;
    margin-top: 5px;
    font-weight: 300;
}


#checkbox,
#music,
#sound {
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    width: 5%;
}

.checkbox-div {
    display: flex;
}

.background-grid {
    border: 1px solid black;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: 33% 33%;
}

.background-grid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
    color: #ffeead;
}

.background-grid>div>img {
    height: 100%;
    width: 100%;
    

}
@media screen and(max-width: 600px) {
    .background-grid {

        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        grid-template-rows: 75px 75px;
    }
}